// Styles for both the Editor and the front end.
.wp-block-uwd-mega-menu {
    $self: &;
    position: relative;
    z-index: 99999;
    &__toggle {
        background-color: initial;
        border: none;
        color: currentColor;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
        text-align: left;
        text-transform: inherit;
        &[aria-expanded=true] #{$self}__toggle-icon svg {
            transform: rotate(0deg);
        }
    }
    &__toggle-icon {
        align-self: center;
        display: inline-block;
        font-size: inherit;
        width: 0.6em;
        height: 0.6em;
        line-height: 0;
        margin-left: 0.25em;
        padding: 0;
        svg {
            stroke: currentColor;
            display: inline-block;
            height: inherit;
            margin-top: 0.075em;
            width: inherit;
            transition: all .1s linear;
            transform: rotate(-90deg);
        }
    }
}