// Front-end specific styles.
.wp-block-uwd-mega-menu {
	$self: &;

	&__menu-container {
		visibility: hidden;
		z-index: 99999;

		&.mode-is-dropdown {
			left: 0;
			opacity: 0;
			position: absolute;
			top: 100%;
			transition: opacity .1s linear, visibility .1s linear;
		}

		&.mode-is-slide-in-right {
			height: calc(100vh - var(--slide-in-top, 0px));
			overflow-y: auto;
			position: fixed;
			right: 0;
			top: var(--slide-in-top, 0px);
			transform: translateX(100%);
			transition: transform .3s ease, visibility .3s ease;
		}
	}

	&__toggle[aria-expanded="true"] {
		~ #{$self}__menu-container.mode-is-dropdown {
			opacity: 1;
			visibility: visible;
			width: 100vw;
			max-width: var(--wp--global--wide-size);
		}

		~ #{$self}__menu-container.mode-is-slide-in-right {
			transform: translateX(0);
			visibility: visible;
		}
	}
}

.wp-block-uwd-mega-menu__menu-container {
	
	.menu-container__close-button {
		align-items: center;
		background-color: transparent;
		border: none;
		border-radius: 999999px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		padding: 4px;
		position: absolute;
		right: 12px;
		text-align: center;
		top: 12px;
		transition: opacity .2s ease;
		z-index: 100;
	}

	// This ensures navigation menu inside of mega menus display correctly.
	.is-responsive {
		display: flex;
	}
}

// If there is a collapsed link, start hidden.
.wp-block-uwd-mega-menu__collapsed-link {
	display: none;
}

// If a navigation modal is open, check if the mega menu should be displayed.
html.has-modal-open {
	.wp-block-uwd-mega-menu {
		&.disable-menu-when-collapsed {
			&:not(.has-collapsed-link) {
				display: none;
			}
	
			.wp-block-uwd-mega-menu__collapsed-link {
				display: inherit;
			}
	
			.wp-block-uwd-mega-menu__toggle, 
			.wp-block-uwd-mega-menu__menu-container {
				display: none;
			}
		}
	}
}